div{
    
    width: 800px;
    margin-left: 300px;
    margin-top: 80px;
}
#s{
    padding: 10px;
    width: 650px;
}
#p{
    padding: 10px;
    width: 200px;
}
#ss
{
    margin-left: 160px;
}
#pp{
    margin-left: 20px;
    padding: 10px;
}
#sp{
    padding: 10px;
    width: 100px;
    margin-left: 400px;
    background-color: gray;
}