.topnav {
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    color: #cb1919;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
  
    color: rgb(18, 15, 15);
  }
  body h1{
    margin-left: 650px;
    color: crimson;
  }
  label{
    margin-left: 500px;
  }
  #p{
    margin-left: 500px;
    padding: 10px;
    border-radius: 5px;
  }
  #q{
    margin-left: 50px;
    padding: 10px;
    border-radius: 5px;
  }
  #s{
    margin-left: 500px;
    padding: 10px;
    width: 430px;
    border-radius: 5px;
  }
  #a{
    margin-left: 500px;
    padding: 10px;
    width: 430px;
    border-radius: 5px;
  }
  #z{
    margin-left: 500px;
    padding: 10px;
    border-radius: 5px;
 }
 #d{
    margin-left: 700px;
    padding: 15px;
    border-radius: 15px;
    color: rgb(233, 239, 233);
    background-color: black;
 }
 #if{
  margin-left: 500px;
  width: 500px;
  height: 250px;
 }
 